html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  padding: 40px;
  background: #e2e2e2;
}

.sidebar {
	width: 400px;
	display: inline-block;
}

.content {
	margin-left: 40px;
	text-align: center;
	width: calc(100vw - 560px);
	display: inline-block;
	vertical-align: top;
}

.selected {
    background-color: rgba(0,0,0,0.2)
}

.contact {
    
}

.avatar {
    float: left;
    margin-right: 4px;   
}

.tag-preview {
    margin: 2px 4px 0px 0px;
    background: cornflowerblue;
    font-weight: bold;
    border-radius: 2px;
    padding: 2px 4px;
    border: none;
    color: white;
    cursor: pointer;
}